{% extends 'base.html.twig' %}

{% block body %}

	<div class="container">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Book List</h6>
            </div>
            <div class="card-body">
			<div>
			<a href="{{ path('book_new') }}" class="btn btn-success btn-icon-split">
                    <span class="icon text-white-50">
                      <i class="fas fa-check"></i>
                    </span>
                    <span class="text">Add new Book</span>
              </a>
			  </div>
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                       <th>Name</th>
                        <th>Author</th>
                        <th>Price</th>
                        <th>Category</th>
                        <th>Actions</th>
                    </tr>
                  </thead>
				  <tbody>
				    {% for book in books %}
                <tr>
                    <td>{{ book.name }}</td>
                    <td>{{ book.author }}</td>
                    <td>{{ book.price }}</td>
					<td>{{ book.category.name }}</td>
					<td><a href="{{ path('book_edit',{'id': book.id}) }}" class="btn btn-warning btn-icon-split">
                    <span class="icon text-white-50">
                      <i class="fas fa-exclamation-triangle"></i>
                    </span>
                    <span class="text">Edit</span>
                  </a>
				 
                 <a href="{{ path('book_delete',{'id': book.id}) }}" class="btn btn-danger btn-icon-split">
                    <span class="icon text-white-50">
                      <i class="fas fa-trash"></i>
                    </span>
                    <span class="text">Delete</span>
                  </a>
				  </td>
                </tr>	
				</tbody>				
            {% endfor %}
                  <tfoot>
                    <tr>
                       <th>Name</th>
                        <th>Author</th>
                        <th>Price</th>
                        <th>Category</th>
                        <th>Actions</th>
                    </tr>
                  </tfoot>
                </table>
              </div>
            </div>
          </div>
    </div>


{% endblock %}
